.header__logo {
  object-fit: cover;
  box-sizing: border-box;
  padding-bottom: 4.66%;

}

@media screen and (max-width: 460px) {
  .header__logo {
    width: 32.5%;
    padding-bottom: 9.88%;
    margin-left: 27px;
  }
}