.popup__button {
  border: none;
  padding: 0;
  background: none;
  background-image: url(../../../images/popup-Close.svg);
  width: 32px;
  height: 32px;
  transition: opacity 1s ease;
  position: absolute;
  top: -40px;
  right: -40px;

}

.popup__button:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width:660px) {
  .popup__button {
    background-image: url(../../../images/Close_Icon_for460px.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}