.page {
  max-width: 1217px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0 auto;
  padding-top: 3.52%;
  padding-bottom: 10.11%;
  padding-left: 15.16%;
  padding-right: 11.17%;
}

@media screen and (min-width:1280px) {
  .page {
    padding-top: 45px;
    padding-bottom: 123px;
    padding-left: 194px;
    padding-right: 143px;
  }


}

@media screen and (max-width: 460px) {
  .page {
    max-width: 320px;
    width: 100%;
    padding-top: 8.75%;
    padding-bottom: 11.25%;
    padding-left: 0;
    padding-right: 0;
  }
}