.foto-grid__elements {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 282px));
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  font-size: 0;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .foto-grid__elements {
    grid-template-columns: repeat(2, minmax(100px, 304px));
  }

}

@media screen and (max-width: 460px) {
  .foto-grid__elements {
    grid-template-columns: 1fr;
    justify-content: center;

  }

}