.foto-grid__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 18px;
  width: 100%;
  height: 19px;
  border: none;
  background-color: initial;
  padding: 0;
  transition: opacity 1s ease;
  visibility: hidden;
}

.foto-grid__trash:hover {
  cursor: pointer;
  opacity: .5;
}