.auth__subtitle {
 margin: 0;
 margin-top: 15px;
 margin-left: 242.5px;
 width: 358px;
 height: 17px;
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 /* identical to box height */

 text-align: center;

 color: #FFFFFF;

}