.auth__title {
 width: 358px;
 height: 29px;
 font-style: normal;
 font-weight: 900;
 font-size: 24px;
 line-height: 29px;
 color: #FFFFFF;
 margin-left: 242.5px;
 margin-top: 60px;
 padding: 0;
 text-align: center;
}