.info-popup__text {
 width: 358px;
 height: 58px;
 font-style: normal;
 font-weight: 900;
 font-size: 24px;
 line-height: 29px;
 text-align: center;
 margin: 0;
 margin-top: 32px;

 color: #000000;

}