.foto-grid__title-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  width: 87.23%;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .foto-grid__title-text {
    font-size: 21px;
  }
}

@media screen and (max-width: 660px) {
  .foto-grid__title-text {
    font-size: 18px;
  }

}

@media screen and (max-width: 460px) {
  .foto-grid__title-text {
    font-size: 24px;
  }
}