.popup__save {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  color: #FFFFFF;
  max-width: 358px;
  width: 100%;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  margin-top: 36px;
  margin-bottom: 37px;
  transition: opacity 1s ease;
}

.popup__save:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 470px) {
  .popup__save {
    max-width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}