.popup {
  display: flex;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  font-size: 0;
  justify-content: center;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  /*Не уверен в целесообразности плавного закрытия, так как при закрытии, данные поп-ап с картинкой не передаются и становится видно пустой поп-ап*/
}

@media screen and (max-width: 470px) {
  .popup {
    flex-direction: column;
    justify-content: flex-start;
  }
}